repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: mypy-typecheck
        name: MyPy Typecheck
        entry: make typecheck
        language: system
        pass_filenames: false
      - id: compile-grammar
        name: ANTLRv4 Compile Grammar
        entry: make compile-grammar
        language: system
        pass_filenames: false
      - id: unittest
        name: Python Unit Tests
        entry: make test-python
        language: system
        pass_filenames: false
